
 @font-face{font-family:Cera Pro;
    src:url(../fonts/cerapro/CeraPro-Light.eot);
    src:url(../fonts/cerapro/CeraPro-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/cerapro/CeraPro-Bold.woff) format("woff"),

    url(../fonts/cerapro/CeraPro-Bold.ttf) format("truetype");
    font-weight:400;font-style:normal}

    @font-face {
      font-family: 'Cera Pro New';
      src: url(../fonts/cerapro/CeraPro-Regular.eot);
      src: local('Cera Pro Regular'), local('CeraPro-Regular'),
          url(../fonts/cerapro/CeraPro-Regular.eot?#iefix) format('embedded-opentype'),
          url(../fonts/cerapro/CeraPro-Regular.woff) format('woff'),
          url('../fonts/cerapro/CeraPro-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }


    @font-face{font-family:Poppins;
      src:url(../fonts/poppins/Poppins-Black.eot);
      src:url(../fonts/poppins/Poppins-Regular.eot?#iefix) format("embedded-opentype"),
      url(../fonts/poppins/Poppins-Regular.woff) format("woff"),
      url(../fonts/poppins/Poppins-Bold.woff) format("woff"),
      url(../fonts/poppins/Poppins-Regular.ttf) format("truetype");
      font-weight:400;font-style:normal}



